<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>隆回县顺道电子商务有限公司</title>
  <%= stylesheet_link_tag "baidu_examine", media: "all" %>
  <style>
    html,body {
      margin:0;
      padding:0;
    }

    h1,h2 {
      font-size: 1.5rem;
      padding-left:0.5rem;
      margin:0;
      background-color: #fe4400;
      color:#fff;
    }

    h2 {
      padding-left:3rem;
      width: 19rem;
      margin-bottom:1rem;
    }


    #wrapper {
      width: 100%;
      max-width:640px;
      margin: 0 auto;
      position: relative;
    }
    img {
      width:100%;
    }
    #order_form {
      background-color: #2d4d68;
      margin-top:-5px;
    }

    #order_form form{
      color: white;
      margin-left:5rem;
    }
  </style>
</head>
<body>
<div id="wrapper">
  <ul class="nav nav-pills nav-justified">
    <li><%=	 link_to '首页', root_path %></li>
    <li><%=	 link_to '产品中心', pages_products_path %></li>
    <li><%=	 link_to '公司简介', pages_company_path %></li>
    <li><%=	 link_to '联系我们', pages_contact_path %></li>
  </ul>
  <h1>隆回县顺道电子商务有限公司</h1>
  <%= yield %>
  <%= image_tag "pages/baidu_examine_copyright.jpg" %>
</div>
</body>
</html>
