
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>隆回县顺道电子商务有限公司</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
  <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
  <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie9.css" />
<![endif]-->
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>-->
  <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<div class="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div class="nav-container">
  <nav class="top-bar overlay-bar">
    <div class="container">

      <div class="row utility-menu">
        <div class="col-sm-12">
          <div class="utility-inner clearfix">
            <span class="alt-font"><i class="icon icon_pin"></i> 0731-89908814</span>
            <span class="alt-font"><i class="icon icon_mail"></i>联系人：罗先生</span>
          </div>
        </div>
      </div><!--end of row-->


      <div class="row nav-menu">
        <div class="col-sm-5 col-md-4 columns">
          <%= link_to  root_path do %>
          <h2 class="logo logo-light" style="color: white">隆回县顺道电子商务有限公司</h2>
          <h2 class="logo logo-dark">隆回县顺道电子商务有限公司</h2>
          <% end %>
        </div>

        <div class="col-sm-7 col-md-8 columns">
          <ul class="menu">
            <li><%= link_to '首页', root_path %></li>
            <li><%= link_to '产品介绍', pages_products_path %></li>
            <li><%= link_to '公司简介', pages_company_path %></li>
            <li><%= link_to '联系我们', pages_contact_path %></li>
          </ul>

        </div>
      </div><!--end of row-->

      <div class="mobile-toggle">
        <i class="icon icon_menu"></i>
      </div>

    </div><!--end of container-->
  </nav>
</div>
<div class="main-container">
  <%= yield %>
</div>
<div class="footer-container">
  <footer class="bg-primary short-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span class="text-white">© 2017- 隆回县顺道电子商务有限公司.</span>
          <span class="text-white">联系人：罗先生</span>
          <span class="text-white">0731-89908814</span>
          <span class="text-white">湖南省邵阳市隆回县桃洪镇桃洪西路（怡然花园内）</span>
        </div>
      </div><!--end for row-->
    </div><!--end of container-->

    <div class="contact-action">
      <div class="align-vertical">
        <i class="icon text-white icon_mail"></i>
        <%= link_to pages_contact_path, class: "text-white" do %>
        <span class="text-white">联系我们<i class="icon arrow_right"></i></span>
        <% end %>
      </div>
    </div>
  </footer>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.plugin.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/skrollr.min.js"></script>
<script src="/js/spectragram.min.js"></script>
<script src="/js/scrollReveal.min.js"></script>
<script src="/js/isotope.min.js"></script>
<!--<script src="js/twitterFetcher_v10_min.js"></script>-->
<script src="/js/lightbox.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
